body{
    font-family: AdobeInvisFont, Courier, MyriadPro-Regular;
    font-weight: 500;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    font-size: 74px;
    margin: 61px 0 45px 0;
}
.logo-color{
    color: #4bcaff;
}
.main-navigation{
    text-align: center;
    background-color: #35444f;
}
.main-navigation-list{ 
    display: inline-block;
}
.main-navigation-list a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 20px;
}
.left-navigation{
    border: 2px solid #35444f;
    margin-top: 50px;
    display: inline-block;    
}
.left-navigation-list{
    list-style: none;
}
.left-navigation-list a{
    display: block;
    text-decoration: none;
    color:#616e78;
    font-size: 24px;  
    padding: 30px 40px;  
    
}
.main-imgage{ 
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    border: 2px solid #35444f ;
    padding: 75px 280px;
    margin: 50px 0 0 57px;

}
.content{
    display: inline-block;
    font-size: 16px;
    margin: 20px 30px 10px 430px;
}
.content-text{
    margin: 30px 0 30px;
    line-height: 1.2;
}
.footer-navigation{
    text-align: left;
    background-color: #b4b7ba;
    padding: 30px 40px;
}
.footer-navigation-list{
    display: inline-block; 
}
.footer-navigation-list a{
    text-decoration: none;
    color: #0c1927;
    font-size: 22px;   
}
.copyright{
    display: inline-block;
    margin-left: 290px;
}
.container{
    margin-bottom: 50px;
}
.footer-navigation-list a:hover{
   color: #3a85a7;
   border-bottom: 1px solid  #3a85a7;
}
.left-navigation-list:hover{
    background-color:#dbdbdb;
}
.left-navigation-list a:hover{
    color: black;
}
.main-navigation-list:hover{
    background:#222f3a;
}
.main-imgage img:hover{
    transform: scale(1.3);
}
.main-imgage > img{
    transition: transform .5s ease-in;
}